// overlay

// LEFT SIDE #################################
.container {
  width:100%;
  padding: 0;
}

body {
  height:100%;
}

.body-content {
  margin-left:15em;
  margin-top: 0.1em;
  width: 85%;
  -webkit-transition: margin-left 0.3s linear;
  -moz-transition: margin-left 0.3s linear;
  -o-transition: margin-left 0.3s linear;
  transition: margin-left 0.3s linear;
}

img {
  opacity: 0;
  transition: opacity .3s ease-in;
}

header {
  padding: 0.7em;
  background-color: gray;
  color:white;
  font-size:large;
  a {
    background-color: gray;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color:pink;
    }
  }
}

//left navigation

.pdsa-sn-wrapper {
  position: absolute;
  //top: 3.6em;
  left: 0;
  width: 13em;
 //height: auto;
  min-height: 100%;
  height:200vh;
  background-color: black;
  -webkit-transition: left 0.3s linear;
  -moz-transition: left 0.3s linear;
  -o-transition: left 0.3s linear;
  transition: left 0.3s linear;
//  padding:0;
//  margin:0;
  ul {
    width: 11em;
    margin-top:0em;
    margin-left:0em;
    //padding:0;
  }
  li {
    //margin-top:2em;
    //margin-bottom:2em;
    list-style: none;
    padding:5px;
    //margin:2px;
    a {
      font-size:1.2em;
      color: #999999;
      text-decoration: none;
      //padding:10px;
      //margin:10px;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
      &:active, &:focus {
        text-decoration: none;
        outline: none;
        color:yellow;
      }
      span {
        margin-top:7px;
      }
    }
  }
}

.pdsa-sn-wrapper div li a{
  color: yellow;
  margin-left:0;
}

.pdsa-sn-brand {
  margin-left: -0.5em;
  font-size: large;
  color: white;
}

li span {
  color:pink;
}
//
//.pdsa-sn-brand a {
//  color: white;
//}
//
//.pdsa-sn-brand a:hover {
//  color: lightblue;
//  background: none;
//}

@media all and (max-width:768px) {
  .pdsa-sn-wrapper {
    left: -10em;
    margin: 0;
  }
  .pdsa-sn-wrapper a span {
    padding-left:6.5em;
    margin-top:0;
    margin-bottom:0;
  }
  .pdsa-sn-wrapper li {
    margin:0;
  }

  .body-content {
    margin:3em;
  }

}

// ############################### SUmmery blocks

// colors primary
.pdsa-summary-block-primary {
  background-color: #428bca;
  color: #fff;
}

.pdsa-summary-block-primary .summary-footer {
  background: blue;
  color:white;
}

.pdsa-summary-block-primary .summary-footer a {
  color:white;
}

// colors secondary
.pdsa-summary-block-success {
  background-color: #3c763d;
  color: #fff;
}

.pdsa-summary-block-success .summary-footer {
  background: green;
  color:white;
}

.pdsa-summary-block-success .summary-footer a {
  color:white;
}

// colors third
.pdsa-summary-block-info {
  background-color: coral;
  color: #fff;
}

.pdsa-summary-block-info .summary-footer {
  background: palevioletred;
  color:white;
}

.pdsa-summary-block-info .summary-footer a {
  color:white;
}

// colors danger
.pdsa-summary-block-danger {
  background-color: lightpink;
  color: #fff;
}

.pdsa-summary-block-danger .summary-footer {
  background: deeppink;
  color:white;
}

.pdsa-summary-block-danger .summary-footer a {
  color:white;
}
// structure
.pdsa-summary-block {
  position: relative;
  width:100%;
  margin:0.3em;
  padding:1em;
  min-height:15em;
  overflow: hidden;

}

.pdsa-summary-block .summary-background span,
.pdsa-summary-block .summary-background div {
  margin-left:-0.4em;
  margin-top:0.1em;
  font-size: 8em;
  opacity:0.3;
}

.pdsa-summary-block .summary-body {
  position: absolute;
  top:1.3em;
  right:0.8em;
  .summary-line-1 {
    text-align: right;
    font-size: xx-large;
  }
  .summary-line-2 {
    text-align: right;
    font-size: medium;
  }
}

.pdsa-summary-block .summary-footer {
  position: absolute;

  bottom:0;
  right:0;
  width:100%;
  padding:0.4em;
  font-weight:300;
  text-transform: uppercase;
  font-size:small;
  opacity:0.6;

  //-webkit-transition: prop time;
  //-moz-transition: prop time;
  //-ms-transition: prop time;
  //-o-transition: prop time;
  transition: opacity 0.4s ease;
  &:hover {
    opacity:1;
    text-decoration: none;
  }
}









